main {
    display: flex;
}

body {
    background-color: hsl(212, 45%, 89%);
}

h2 {
    font-weight: 700;
    font-size: 1em;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: hsl(212, 45%, 89%);
}

.row {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainBox {
    display: flex;
    background-color: white;
    border-radius: 15px;
    width: 270px;
    height: 425px;
    padding: 15px;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 10px;
}

h2 {
    margin-top: .75em;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin-top: 2em;
    padding: 0;
}

.card {
    width: 18rem;
    border: none;
    text-align: center;
}

.attribution {
    font-size: 12px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }



  @media (max-height: 635px) {
    .row {
        height: 100vh;
    }

    .mainBox {
        width: 200px;
        height: 300px;
        padding: 15px;
    }

    h2 {
        margin-top: 0;
    }

    .mainBox p {
        font-size: 9px;
        margin-top: 0;
    }

    .attribution {
        font-size: 9px;
      }
  }