body {
    background-color: hsl(212, 45%, 89%);
}

h1 {
    font-weight: 700;
    font-size: 1.25em;
    margin-top: .75em;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin-top: 1em;
}

.row {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainBox {
    display: flex;
    background-color: white;
    border-radius: 15px;
    width: auto;
    height: auto;
    padding: 15px;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 10px;
}

.card {
    width: 18rem;
    border: none;
    text-align: center;
}

.card-img-top {
    border-radius: 15px;
}

.attribution {
    font-size: 12px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }


  @media (max-height: 525px) {
    h1 {
        font-size: .8em;
        margin-top: 0;
    }

    p {
        font-size: 9px;
        margin-top: 0;
    }

   .mainBox {
        width: 200px;
        height: auto;
        padding: 15px;
    }

    .attribution {
        height: auto;
        font-size: 9px;
      }
  }

  @media (max-height: 365px) {
    h1 {
        font-size: .5em;
        margin-top: 0;
    }

    p {
        font-size: 6px;
        margin-top: 0;
    }

   .mainBox {
       /* display: inline-block; */
        width: 125px;
        height: 215px;
        padding: 5px;
    }

    .attribution {
        height: auto;
        font-size: 5px;
      }
  }

  @media (max-height: 235px) {
    h1 {
        font-size: .5em;
        margin-top: 0;
    }

    p {
        font-size: 4px;
        margin-top: 0;
    }

    img {
        width: 75px;
        height: 90px;
    }

   .mainBox {
       /* display: inline-block; */
        width: 115px;
        height: 175px;
        padding: 5px;
    }

    .attribution {
        height: auto;
        font-size: 4px;
      }
  }